In [1]:
import pandas as pd

In [2]:
dataframe = pd.read_csv("diabetes-dataset 2.csv")

In [3]:
dataframe

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2,138,62,35,0,33.6,0.127,47,1
1,0,84,82,31,125,38.2,0.233,23,0
2,0,145,0,0,0,44.2,0.630,31,1
3,0,135,68,42,250,42.3,0.365,24,1
4,1,139,62,41,480,40.7,0.536,21,0
...,...,...,...,...,...,...,...,...,...
1995,2,75,64,24,55,29.7,0.370,33,0
1996,8,179,72,42,130,32.7,0.719,36,1
1997,6,85,78,0,0,31.2,0.382,42,0
1998,0,129,110,46,130,67.1,0.319,26,1
1999,2,81,72,15,76,30.1,0.547,25,0

# Data Pre-Processing

First, we will describe the dataset in order to check whether there is null value present or not and what is the quality of our data.

In [4]:
dataframe.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,3.703500,121.182500,69.145500,20.935000,80.254000,32.193000,0.470930,33.090500,0.342000
std,3.306063,32.068636,19.188315,16.103243,111.180534,8.149901,0.323553,11.786423,0.474498
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,63.500000,0.000000,0.000000,27.375000,0.244000,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,40.000000,32.300000,0.376000,29.000000,0.000000
75%,6.000000,141.000000,80.000000,32.000000,130.000000,36.800000,0.624000,40.000000,1.000000
max,17.000000,199.000000,122.000000,110.000000,744.000000,80.600000,2.420000,81.000000,1.000000

In [5]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               2000 non-null   int64
 1   Glucose                   2000 non-null   int64
 2   BloodPressure             2000 non-null   int64
 3   SkinThickness             2000 non-null   int64
 4   Insulin                   2000 non-null   int64
 5   BMI                       2000 non-null   float64
 6   DiabetesPedigreeFunction  2000 non-null   float64
 7   Age                       2000 non-null   int64
 8   Outcome                   2000 non-null   int64
dtypes: float64(2), int64(7)
memory usage: 140.8 KB

As we can see from info() and describe() method, there is no null value present. However, min value for Glucose, Blood pressure, Skin thickness and insulin is zero which is practically not possible so these zeros can be considered as outlier which we need to remove.

In [8]:
print(df)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              2      138             62             35        0  33.6
1              0       84             82             31      125  38.2
2              0      145              0              0        0  44.2
3              0      135             68             42      250  42.3
4              1      139             62             41      480  40.7
..           ...      ...            ...            ...      ...   ...
739            1      100             62              0        0  64.4
740            0      163             40             23       64  40.7
741            6      139             84             37        0  50.7
742            2      167             44             30      140  52.7
743            3      162              0            110      215  48.7

     DiabetesPedigreeFunction  Age  Outcome
0                       0.127   47        1
1                       0.233   23        0
2                       0.630   31        1
3                       0.365   24        1
4                       0.536   21        0
..                        ...  ...      ...
739                     0.152   36        0
740                     0.322   33        0
741                     0.320   50        1
742                     0.452   28        0
743                     0.520   24        0

[744 rows x 9 columns]

In [9]:
df = df[df['Insulin']!=0]
df = df[df['SkinThickness']!=0]
df = df[df['BloodPressure']!=0]
df = df[df['Glucose']!=0]
df = df[df['BMI']!=0]


print(df)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
1              0       84             82             31      125  38.2
3              0      135             68             42      250  42.3
4              1      139             62             41      480  40.7
5              0      173             78             32      265  46.5
8              2       83             65             28       66  36.8
..           ...      ...            ...            ...      ...   ...
735            0      136             74             49      220  20.1
736            0      116             64             39      225  40.2
737            2      142             94             59      177  38.3
740            0      163             40             23       64  40.7
742            2      167             44             30      140  52.7

     DiabetesPedigreeFunction  Age  Outcome
1                       0.233   23        0
3                       0.365   24        1
4                       0.536   21        0
5                       1.159   58        0
8                       0.629   24        0
..                        ...  ...      ...
735                     0.820   44        1
736                     0.720   50        0
737                     0.620   63        1
740                     0.322   33        0
742                     0.452   28        0

[381 rows x 9 columns]

In [10]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,381.000000,381.000000,381.000000,381.000000,381.000000,381.000000,381.000000,381.000000,381.000000
mean,3.254593,122.624672,70.708661,29.270341,153.889764,33.177690,0.524530,30.787402,0.320210
std,3.169055,30.647801,12.437704,10.630536,113.097366,7.105995,0.335632,10.140822,0.467171
min,0.000000,56.000000,24.000000,7.000000,14.000000,18.200000,0.085000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,21.000000,76.000000,28.400000,0.282000,23.000000,0.000000
50%,2.000000,119.000000,70.000000,29.000000,126.000000,33.300000,0.452000,27.000000,0.000000
75%,5.000000,143.000000,78.000000,37.000000,190.000000,37.200000,0.687000,36.000000,1.000000
max,17.000000,198.000000,110.000000,63.000000,744.000000,67.100000,2.420000,81.000000,1.000000